<style>
    h2{
  color: #F55F4C;
  margin:0;
    }
    
</style>



<div class="container mt-4 mb-4">
    <h2 class="font-weight-bold">New Audition</h2>
</div>


<%= render 'form' %>

<div class="container">
    <a href="/audition">Cancel Posting</a>
</div>
