<!--소메뉴 nav바-->
<div class="container font mt-2">
    <div class="col-md-6" id="flex-style">
        <a class="navbar-brand" href="/audition"><a2 class="option">All</a2></a>
            <div class="dropdown">
                <a class="navbar-brand dropdown-toggle mr-3 font option"  href="/audition" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><a2>Genre</a2> </a>
                    <div class="dropdown-menu "  aria-labelledby="dropdownMenu2">
                        <ul class="d"><a href = "/audition"><a2>a</a2></a></ul>
                        <ul class="d"><a href = "/audition"><a2>b</a2></a></ul>
                        <ul class="d"><a href = "/audition"><a2>c</a2></a></ul>
                    </div>
            </div>
            <div class="dropdown">
                <a class="navbar-brand dropdown-toggle mr-3 font option" href="/audition" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><a2>Group</a2> </a>
                    <div class="dropdown-menu "  aria-labelledby="dropdownMenu2">
                        <ul class="d"><a href = "/rank"><a2>composer</a2></a></ul>
                        <ul class="d"><a href = "/rank"><a2>lyricist</a2></a></ul>
                        <ul class="d"><a href = "/rank"><a2>singer</a2></a></ul>
                    </div>
            </div>
            
            <div  class="customStyle">
            <input type="search" name="search" class="custom-search form-control" placeholder = " search" />
            <img type="submit" src='/assets/search.png' weight="30" height = "30" style="background-color:white">
            </div>
    </div>
</div>
