<!--소메뉴 nav바-->
<div class="container font mt-2">
    <div class="col-md-6" id="flex-style">
        <a class="navbar-brand pb-0" href="/audition"><a2 class="option">All</a2></a>
            <div class="dropdown">
                <a class="navbar-brand dropdown-toggle pb-0 mr-3 font option "  href="/audition" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><a2>Genre</a2> </a>
                    <div class="dropdown-menu "  aria-labelledby="dropdownMenu2">
                        <ul class="d"><a href = "/audition"><a2>a</a2></a></ul>
                        <ul class="d"><a href = "/audition"><a2>b</a2></a></ul>
                        <ul class="d"><a href = "/audition"><a2>c</a2></a></ul>
                    </div>
            </div>
            <div class="dropdown">
                <a class="navbar-brand dropdown-toggle mr-3 font pb-0 option" href="/audition" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><a2>Group</a2> </a>
                    <div class="dropdown-menu "  aria-labelledby="dropdownMenu2">
                        <ul class="d"><a href = "/rank"><a2>composer</a2></a></ul>
                        <ul class="d"><a href = "/rank"><a2>lyricist</a2></a></ul>
                        <ul class="d"><a href = "/rank"><a2>singer</a2></a></ul>
                    </div>
            </div>
            
            <div  class="customStyle">
            <input type="search" name="search" class="custom-search form-control" placeholder = " search" />
            <input type="button" class="search2">
            </div>
    </div>
    <hr/>
</div>

<!--body-->

<div class="container">
    <div class="row">
        <!--<%# @posts.each do |p| %> 나중에 img url로 반복문 돌릴거 ㅇㅇ-->
        <div class="col-6 col-sm-3  img-holder mb-5"> <p class="text-center">post_title</p><img class="img-circle ml-4" src="assets/logo-03.png" > <p class="text-center">user_name</p> </div>
                    <!--<%# if p.image_url?
                    <!--  <img class="img-circle" src="<%#=p.image_url%>">-->
                    <!--<#% end %> img url반복 코드-->
        <div class="col-6 col-sm-3 img-holder mb-5"> <p class="text-center">post_title</p><img class="img-circle imgh ml-4" src="assets/logo-03.png"> <p class="text-center">user_name</p> </div>
            <div class="clearfix hidden-sm-up mb-5"></div>
        <div class="col-6 col-sm-3 img-holder mb-5"> <p class="text-center">post_title</p><img class="img-circle ml-4" src="assets/logo-03.png"> <p class="text-center">user_name</p> </div>
        <div class="col-6 col-sm-3 img-holder mb-5"><p class="text-center">post_title</p> <img class="img-circle ml-4" src="assets/logo-03.png"> <p class="text-center">user_name</p> </div>
        <div class="col-6 col-sm-3 img-holder mb-5"> <p class="text-center">post_title</p><img class="img-circle ml-4" src="assets/logo-03.png"> <p class="text-center">user_name</p> </div>
        <div class="col-6 col-sm-3 img-holder mb-5"> <p class="text-center">post_title</p><img class="img-circle ml-4" src="assets/logo-03.png"> <p class="text-center">user_name</p> </div>
    </div>
</div>
