
  <style type="text/css">

    .sect1{
        height:500px;
        background-image:url("assets/main2.png");
        background-size: 100% 100%;
    }
    
    .sect2{
        height:500px;
        padding-top:30px;
        padding-left:30px;
        background-color: #FFFCF0;
    }
    
    .sect3{
        height:500px;
        padding-top:30px;
        padding-left:30px;
        background-color: rgba(232,93,75,0.6)
        
    }
    .white{
        color: white;
    }
    
    .footer{
        background-color:#3F3B33;
        height: 100px;
        padding-top:25px;
    }
   
  </style>
  </head>
  <body>
    <!--navbar-->
    
    <!--야자나무 이미지-->
   
<div class ="container sect1" >
</div>

<div class ="container sect2">
    <h1 class="font-italic font-weight-bold maincolor">ABOUT US</h1>
    <div class="row d-flex justify-content-end">
        <div class="mr-auto p-2" >
            홈페이지 소개 내용
            .
            .          
            ...
            <p>이 동그라미 색 너무 구린데 제발 누가 해결좀...</p>
        </div>
        <img class="img-circle2 p-2 mr-3" src="assets/logob.png">
        
    </div>
</div>

<div class ="container sect3 ">
    <h1 class="font-italic font-weight-bold white pb-4">이번 달 1위 아티스트</h1>
    <div class="row">
        <img class="img-circle3 p-2 ml-3 img" src="assets/iu.PNG">
        
        <div class="offset-md-2" >
            <p class="font-weight-bold">아티스트 소개 내용</p>
            <p>ㅠㅠ넘예</p>
            <p>코딩이 힘들때마다 한번씩 봅니다...</p>
            <p>아이유는 ㄹㅇ 사랑</p>
        </div>
    </div>
</div>

<footer class="footer">
    <div class = "d-flex flex-column ">
            <ul class="white  mx-auto mb-1"> 신재현 오동수 손다현 윤수혁 </ul> 
            <ul class="white  mx-auto">ⓒ  likelion  <img src="/assets/likelion.png" weight="25"height="15"> </ul>
        
        </div>
</footer>



  <%= yield %>
  </body>

</html>



    
    