<!--background photo-->
<div class="container background">
    <div></div>
</div>

<!--profile photo-->        
<div class="container profile">
    <div></div>
</div>
        
<!--background button-->
<div class="container button">
    <div></div>
</div>

<!--mypage list-->
<div class="container list">
    <div></div>
</div>