<!--소메뉴 nav바-->

<style>
    .back{
background-color: rgba(232,93,75,0.25);
}
.strong{
    font-weight:bold;
}

.fix{
    position: fixed;
    margin-left: 1050px;
}
  

</style>

<div class="container font mt-2">
    <div class="col-md-6" id="flex-style">
        <a class="navbar-brand pb-0 option" href="/rank"><a2>All</a2></a>
            <div class="dropdown">
                <a class="navbar-brand dropdown-toggle mr-3 font option pb-0"  href="/rank" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><a2>Genre</a2> </a>
                    <div class="dropdown-menu "  aria-labelledby="dropdownMenu2">
                        <ul class="d"><a href = "/rank"><a2>a</a2></a></ul>
                        <ul class="d"><a href = "/rank"><a2>b</a2></a></ul>
                        <ul class="d"><a href = "/rank"><a2>c</a2></a></ul>
                    </div>
            </div>
            <div class="dropdown">
                <a class="navbar-brand dropdown-toggle mr-3 font option pb-0" href="/rank" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><a2>Group</a2> </a>
                    <div class="dropdown-menu "  aria-labelledby="dropdownMenu2">
                        <ul class="d"><a href = "/rank"><a2>composer</a2></a></ul>
                        <ul class="d"><a href = "/rank"><a2>lyricist</a2></a></ul>
                        <ul class="d"><a href = "/rank"><a2>singer</a2></a></ul>
                    </div>
            </div>
            
            <div  class="customStyle">
                <input type="search" name="search" class="custom-search form-control" placeholder = " search" />
                <input type="button" class="search2">
            </div>
    </div>
</div>
<div class ="container pl-3 ml-0 mr-0">
        <hr class="mb-0 col-9 ml-0 pr-0 mr-3 pl-0"/>
</div>



<!--rank 메뉴-->
<div class="row pt-0 ml-3">
    <div class="col-9 mr-0 pt-0">    <!--1부분 시작-->
    <div class="row pb-3 pt-3 back ">
        <div class="col-1 text-center strong pl-0">#</div>
        <div class="col-2 text-center strong pl-0">name</div>
        <div class="col-2 text-center strong pl-0">group</div>
        <div class="col-2 text-center strong pl-0">genre</div>
        <div class="col-1 text-center strong pl-0">score</div>
        <div class="col-1 text-center strong pl-0">like</div>
        <div class="col-1 text-center strong pl-0">follow</div>
        <div class="col-1 text-center strong pl-0">scout</div>
    </div>
    <hr class="mt-0 ml-0 pl-0 pr-0 mr-0" />  


<!--rank-->

        <% @user.each do |u| %>

            <div class="row">
                <div class="col-1 text-center ">랭킹</div>
                <div class="col-2 text-center"><%= u.name %></div>
                <div class="col-2 text-center "><%= u.artist %></div>
                <div class="col-2 text-center "><%= u.genre %></div>
                <div class="col-1 text-center ">보류</div>
                <div class="col-1 text-center" type="button">조아요</div>
                <div class="col-1 text-center" type="button">팔로</div>
                <div class="col-1 text-center" type="button">스카웃</div>
            </div>
            <hr/>
            
        <% end %>
        
    </div>
    
    <div class="col-3 mr-0 p-2 "> <!--2부분 시작-->
        <h2 class="maincolor strong text-center mr-5">이달의 1위<br/>아티스트</h2>
        <img class="img-circle ml-5"  src="assets/iu.PNG">
    </div>
    
</div>

<div class="container">
    
</div>

