<!--소메뉴 nav바-->
<div class="container font mt-2">
    <div class="col-md-6" id="flex-style">
        <a class="navbar-brand option" href="/show"><a2>All</a2></a>
        <a class="navbar-brand option" href="/show"><a2>Composer</a2></a>
        <a class="navbar-brand option" href="/show"><a2>Lyricist</a2></a>
        <a class="navbar-brand option" href="/show"><a2>Singer</a2></a>
    
        <div  class="customStyle">
            <input type="search" name="search" class="custom-search form-control" placeholder = " search" />
            <img type="submit" src='/assets/search.png' weight="30" height = "30" style="background-color:white">
        </div>
    </div>
</div>



