#hello{
    background-color: none;
}
// 버튼 아이디
.wrapper{
    width:auto;
    margin:0;
}



.defaultBar{
    width:500px;
    position:relative;
    background-color:gray;
    height:7px;
    margin-top:10px;
    margin-left:5px;
}

.progressBar{
    position:absolute;
    height:7px;
    background-color: #F55F4C;
    width:0px;
}

.progressCircle{
    position:absolute;
    border-radius: 100%;
    width:15px;
    height:15px;
    background-color:#F55F4C;
}

.playButton{
    background:url(/assets/play.png);
    border:none;
    outline: none;
    height:32px;
    width:32px;
    background-repeat:no-repeat;
    background-position:center;
    margin-right: 7px;
}

.pauseButton{
    background:url(/assets/stop.png);
    outline: none;
    border:none;
    height:32px;
    width:32px;
    background-repeat:no-repeat;
    background-position:center;
    margin-right: 7px;
}


.muteButton:active,#playButton:active{
     position:relative;
     top:2px;
}

.likeButton{
    background:url(/assets/like.png);
    outline: none;
    border:none;
    height:28px;
    width:28px;
    background-repeat:no-repeat;
    background-position:center;
    margin-right: 7px;
}

.likedButton{
    background:url(/assets/like2.png);
    outline: none;
    border:none;
    height:28px;
    width:28px;
    background-repeat:no-repeat;
    background-position:center;
    margin-right: 7px;
}